{% block subject %}
Password reset on Map Your Freedom
{% endblock subject %}

{% block text_body %}
You're receiving this email because you requested a password reset for your user account at mapyourfreedom.com.

Please go to the following page and choose a new password:

https://demo.mapyourfreedom.com/reset-password-confirm/{{ uid }}/{{ token }}/

Thanks for using our site!

Map Your Freedom team
{% endblock text_body %}

{% block html_body %}
<p>You're receiving this email because you requested a password reset for your user account at mapyourfreedom.com.</p>

<p>Please go to the following page and choose a new password:</p>
<a href="https://demo.mapyourfreedom.com/reset-password-confirm/{{ uid }}/{{ token }}/">
    https://demo.mapyourfreedom.com/reset-password-confirm/{{ uid }}/{{ token }}/
</a>
<p>Thanks for using our site!</p>

<p>Map Your Freedom team</p>
{% endblock html_body %}